/* #cv-form{
    display: none;
} */
body{
    font-family: poppins;
    color: black;
/*     font-weight: 600; */
    font-size: larger;
    background-color: aliceblue;
}
#cv-template{
    display: none;
}
.myimg{
    border-radius: 50%;
    width: 200px;
}
.background{
    background-color: #7d7df3;
}
.myicons{
    border: 50%;
    width: 50px; 
}
.mypara{
    display: contents;
}
